* {
    text-align: center;
}

body {
    background-color: aliceblue;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 25vw;

}

ul li {
    padding: 1em 2em .8em 2em;
    border: 1px solid black;

}